# 샘플데이터

In [1]:
import pandas as pd

In [3]:
cus = pd.read_csv("./'21년 해카톤_고객정보.csv", encoding='cp949')
car = pd.read_csv("./'21년 해카톤_차량정보.csv", encoding='cp949')
cntc = pd.read_csv("./'21년 해카톤_접촉정보.csv", encoding='cp949')
ptype = pd.read_csv("./'21년 해카톤_차량정보(구매유형분류적용).csv")

In [4]:
print(cus.shape)
cus.head(3)

(1096206, 9)

,CUS_ID,PSN_BIZR_YN,SEX_SCN_NM,TYMD,CUS_ADM_TRY_NM,CUS_N_ADMZ_NM,CUS_ADMB_NM,CLB_HOUS_PYG_NM,REAI_BZTC_AVG_PCE
0,AOZZZZO010000035,NaN,남자,19300300,전라남도,영암군,시종면,NaN,NaN
1,AOZZZZO010000067,NaN,남자,19330600,경상남도,진주시,NaN,NaN,NaN
2,AOZZZZO010000190,NaN,남자,19370700,NaN,NaN,NaN,23,13400.0

In [5]:
cus_s = cus.head(109620)
cus_s.to_csv("'21년 해카톤_고객정보_샘플.csv", encoding='utf-8-sig', index=False)

In [6]:
print(car.shape)
car.head(3)

(1835830, 10)

,CAR_ID,CUS_ID,WHOT_DT,CAR_HLDG_STRT_DT,CAR_HLDG_FNH_DT,CAR_NM,CAR_CGRD_NM_1,CAR_CGRD_NM_2,CAR_ENG_NM,CAR_TRIM_NM
0,H1308052741CBFA022907,AOZZZZO010000035,20140627,20140627,20170831.0,LF쏘나타,승용,중형,가솔린 2.0 CVVL,SMART
1,H1308050341LBEA656859,AOZZZZO010000067,20140711,20140711,NaN,YF쏘나타,승용,중형,LPG 2.0,PREMIUM
2,H1308052741DBFA038433,AOZZZZO010000190,20140707,20140707,NaN,LF쏘나타,승용,중형,LPi 2.0,PREMIUM

In [7]:
car_s = car.head(183583)
car_s.to_csv("'21년 해카톤_차량정보_샘플.csv", encoding='utf-8-sig', index=False)

In [8]:
print(cntc.shape)
cntc.head(3)

(17734097, 5)

     CNTC_SN            CUS_ID   CNTC_DT CNTC_CHAN_NM CNTC_AFFR_SCN_NM
0  172591627  AOZZZZO010000035  20150504       방문(대면)               정비
1  172610507  AOZZZZO010000035  20150504       방문(대면)               정비
2  306638131  AOZZZZO010000035  20161202       방문(대면)               정비

In [9]:
cntc_s = cntc.head(1773409)
cntc_s.to_csv("'21년 해카톤_접촉정보_샘플.csv", encoding='utf-8-sig', index=False)

In [10]:
print(ptype.shape)
ptype.head(3)

(159323, 11)

,CAR_ID,CUS_ID,WHOT_DT,CAR_HLDG_STRT_DT,CAR_HLDG_FNH_DT,CAR_NM,CAR_CGRD_NM_1,CAR_CGRD_NM_2,CAR_ENG_NM,CAR_TRIM_NM,PUR_TYPE
0,H1308031441VP6U069690,AONEEOO010000113,2006-06-27,2006-06-27,2007-07-12,베르나,승용,소형,2007이전 데이터,2007이전 데이터,최초구매
1,H1308060741EBBA077034,AONEEOO010000113,2011-08-01,2011-08-01,1900-01-01,그랜저HG,승용,대형,가솔린 3.0,노블,대차
2,H1308052141BP5A053834,AONEEOO020000165,2005-02-26,2005-02-26,1900-01-01,쏘나타,승용,중형,2007이전 데이터,2007이전 데이터,최초구매

In [ ]:
ptype_s = ptype.head(159323)
ptype_s.to_csv("'21년 해카톤_접촉정보_샘플.csv", encoding='utf-8-sig', index=False)